<%= erb :_nav_bar %>
<%= erb :'_errors' %>

<div id="container">

<h3>Login Below</h3>

<div id="slideshow">
  <img src="https://unsplash.it/1900/1200?image=585">
  <img src="https://unsplash.it/1900/1200?image=73">
  <img src="https://unsplash.it/1900/1200?image=1058"> 
</div>

<form action="/sessions" method="post">

    <label for="username">username </label>
    <input class="input_text" id="username" name='username' type='text'/>

    <label for="password">Password </label>
    <input class="input_text" id="password" name='password_string' type='password'/>
    <input class="button" type="submit" value="Login">

  </form>
  <br>
  <a href="/users/new">Create Account</a>
</div>