body {
	background: #000;
}

.nav-bar {
  list-style: none;
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
  float: right;
  color: white;
}

#slideshow, img { 
  min-height: 100%; 
  min-width: 1024px; 
  width: 100%; 
  height: auto; 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index:-9999; 
}

#container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  color: white;
}

.input_text {
  color: black;
}

.button {
  color: black;
}

.errors {
  color: #ff1a1a;
}

.title {
  width:30%;
  width:100%;
  margin:auto;
  color:#fff;
  text-align:center;
  font-size: 400%;

  padding-left:20px;
  padding-bottom:150px;
}



.results_box{
  margin:auto;
  height:350px;
  width: 600px;
  background-color: white;
  margin-top:20px;
  border-radius: 10px;
  opacity: 0.7;

}

.search_box {
  background-color: white;
  margin:auto;
  width:39%;
  border-radius: 6px;
  text-align:center;
}

.search_form{
  margin:auto;
  height:50px;
  font-size:110%;

}

.search_button{
  margin:auto;
  border:none;
  background-color: white;
  height:50px;
  font-size:110%;
  border-radius: 6px;
  outline:none;
}

.search_field{
  width:350px;
  border:none;
  outline:none;
  border-radius: 6px;
}

.plate_appearances{
  width:290px;
}

.stats{
  margin-left: 5px;
}

li {
  list-style: none;
}

.search_options{
  float: left;
  border:none;
  margin-top:13px;
  margin-left: 10px;
  outline:none;
  background-color: white;
}

/*@media screen and (max-width: 800px) {
 main {
     max-width: 100%;

 }
}

@media screen and (max-width: 800px) {
 div, nav {
     display: block;
     max-width: 100%;
     text-align: center;
     padding-top:30px;
  }
}*/


