<%= erb :_nav_bar %>

<h1 class="title">theLine</h1>
<div class="search_box">
<div class="search_box_contents">
<form class="search_form" action="">
	<input class="search_field" type="search" name="team_search" placeholder="new york yankees ⚾️">
	<input class="search_button" type="submit" value="search">
</form>
</div>
</div>

<div id="slideshow">
	<img src="https://unsplash.it/1900/1200?image=1058">
	<img src="https://unsplash.it/1900/1200?image=585">
	<img src="https://unsplash.it/1900/1200?image=73">
</div>

<div class="results_box">
	<h2 class="search_team">New York Yankees</h2>
	<p class="teams_playing">New York Yankees vs Boston Red Sox</p>
	<p class="team_line">New York Yankees -5(105)</p>
	<p class="money_placed">Place: $105</p>
	<p class="money_win">To Win: $100</p>
	<a class="link" href="https://www.sbgglobal.eu">Place The Bet</a>
</div>